<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documents</title>
</head>
<body>
    <!-- <p>    오늘 날씨는 {{ weather }}이며 온도는 섭씨 {{ temperature }}입니다.</p>
    <p>    오늘 날씨는 {{ weather_data.weather }}이며 온도는 섭씨 {{ weather_data.temperature }}입니다.</p> -->
    <!-- <p>    {{ football_player.0.name}}는 {{ football_player.0.team }}소속입니다. </p> 
    <p>    {{ football_player.1.name }}는 {{ football_player.1.team }}소속입니다. </p>
    <p>    {{ football_player.2.name }}는 {{ football_player.2.team }}소속입니다. </p> -->
    <!-- {% for player in football_player %}
    <p>{{ player.name }}는 {{player.team}}소속입니다</p>
    {% endfor %}

    {% for player in baseball_players %}
    <p>{{ player.name }}는 {{player.team}}소속입니다</p>
    {% empty %}
    <p>야구 선수는 없습니다..</p>
    {% endfor %}

    <p>
        오늘의 기온은
        {% if not weather.temperature %} 
        알 수 없습니다.
        {% elif weather.temperature < 10 %}
        {{ weather.temperature }}도 이며, 매우 춥습니다.
        {% elif weather.temperature > 30 %}
        {{ weather.temperature }}도 이며, 매우 덥습니다.
        {% else %}
        {{ weather.temperature }}도 이며, 매우 애매합니다.
        {% endif %} -->

        <!-- {% lorem 3 p random %} -->
        {% comment %}
        It is {% now "jS F Y H:i" %}<br>
        {% now "Y-m-d" %}<br>
        {# 2022-04-22 #}

        I know {{ football_player|length }} football players!
        <h1>{% url 'url_test' 1 2 %}</h1>
        {% endcomment %}

        <h1>{% url 'landing:home' %}</h1>

        
    </p>
</body>
</html>